<div class="jumbotron" style="background:rgba(0,0,0,0.6);">
 <div class="row"> 
    <div class="col-md-7" id="homewords">
      <h1>Welcome !!</h1>
      <p>This is TheDreamology project SEO page .</p>
    </div>
      <% if !user_signed_in? %>
      <div class="col-md-5">
         <img src="DREAMOLOGY.png">
         <p>Log in to view Projects and Users</p>
      </div>
      <%end%>
      <% if user_signed_in? %>
      <div class="col-md-4">
        <p><%= link_to "Projects", user_projects_path(current_user) , class: "btn btn-primary btn-lg" %></p><br>
        <p><%= link_to "Checklists", checklists_path , class: "btn btn-primary btn-lg" %></p>
      </div>
      <% end %>
    
  </div>
</div>
