<div class="jumbotron">
  <h1>Welcome !!</h1>
  <p>This is TheDreamology project SEO page .</p>
  <% if user_signed_in? %>
    <p><%= link_to "Projects", user_projects_path(current_user) , class: "btn btn-primary btn-lg" %></p>
    <p><%= link_to "Users", static_pages_users_path , class: "btn btn-primary btn-lg" %></p>
  <% end %>
</div>
