<div class="jumbotron">
  <h1>Welcome !!</h1>
  <p>This is TheDreamology project SEO page .</p>
  <p><%= link_to "Projects", projects_path , class: "btn btn-primary btn-lg" %></p>
  <p><%= link_to "Users", static_pages_users_path , class: "btn btn-primary btn-lg" %></p>
</div>
