<div class="row"> 
  <div class="col-sm-12">
    <h2> <%= @project_checklist.checklist.title %> </h2>
    <p> what it is about: <%= @project_checklist.checklist.description %> <p>
    <p> comments: <%= @project_checklist.description %> <p>
    <p> status: <%= @project_checklist.status %> <p>
  </div>
</div>
